@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  align-content: center;
  justify-content: center;
  display: flex;
}

.cadre {
  background-color: hsl(0, 0%, 12%);
  border: 1px solid hsl(0, 0%, 8%);
  width: 280px;
  height: 440px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 10px;
}
img {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-bottom: 10px;
}
.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.name {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  margin: 8px 0px;
}
.london {
  color: hsl(75, 94%, 57%);
  font-size: x-small;
  margin-bottom: 10px;
  text-transform: capitalize;
}
p {
  color: white;
  font-size: 10px;
  margin: 10px 0 0 0;
}
.btn {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  gap: 0.75rem;
  margin: 10px 25px;
  padding: 5px 0px 30px 0px;
}
button {
  padding: 10px 0;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  background-color: none;
  border-radius: 8px;
}
.btn-p {
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
}
.btn-p:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}
